* {
  box-sizing: border-box;
}

html {
  width:100%;
  height:100%;
}

body {
  width:100%;
  height:100%;
  margin:0;
  padding:1rem;
  display: flex;
  flex-flow: column nowrap;
}

h1, h2 {
  margin:0.5rem 0;
}

p {
  margin-top: 0;
}

.simple_opts {
  display: flex;
  flex-flow: row wrap;
}

.simple_opts .opt {
  flex: 1 1;
  margin: 0.25rem;
}

.lists {
  display: flex;
  flex-grow: 1;
  flex-flow: row nowrap;
}

.lists > div {
  flex: 1 50%;
  display:flex;
  flex-flow: column nowrap;
  margin: 0 1rem;
}

textarea {
  flex-grow: 1;
}

/*.cols {
  flex-grow: 1;
  display:flex;
  flex-flow: row nowrap;
}

.cols > div{
  flex: 1 50%;
  display:flex;
  flex-flow: column nowrap;
  margin: 0 1rem;
}

.cols label {
  display:flex;
  flex-flow: column nowrap;
  flex-grow: 1;
}*/

/*label textarea {
  flex-grow: 1;
}*/

.button-row {
  display:flex;
  flex-flow: row wrap;
}

.button-row button {
  margin:0.5rem 1rem;
  height:2rem;
}

.revert-btn {
  height:1.5rem;
}
